<nav id="nav-horizontal" class="nav-horizontal">
	<ul>
		<li class="nav-atoms">
			<a class="link-menu-item" href="#">Atoms</a>
			<div class="nav-horizontal-submenu sub-atoms">
				<div class="nav-horizontal-submenu-inner">
					<div>
						<h4 class="menu-title">Global</h4>
						<ul>
						</ul>

						<h4 class="menu-title">Text</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Buttons</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Lists</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Images</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Forms</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Tables</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Grid</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</li>

		<li class="nav-molecules">
			<a class="link-menu-item" href="#">Molecules</a>
			<div class="nav-horizontal-submenu sub-molecules">
				<div class="nav-horizontal-submenu-inner">
					<div>
						<h4 class="menu-title">Text</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Layout</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Blocks</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Media</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Forms</h4>
						<ul>
						</ul>
						<h4 class="menu-title">Navigation</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Components</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</li>

		<li class="nav-organisms">
			<a class="link-menu-item" href="#">Organisms</a>
			<div class="nav-horizontal-submenu sub-organisms">
				<div class="nav-horizontal-submenu-inner">
					<div>
						<h4 class="menu-title">Global</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Sections</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Components</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</li>

		<li class="nav-templates">
			<a class="link-menu-item" href="#">Templates</a>
			<div class="nav-horizontal-submenu sub-templates">
				<div class="nav-horizontal-submenu-inner">
					<div>
						<h4 class="menu-title">Homepage</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Blog</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</li>

		<li class="nav-devices">
			<a class="link-menu-item" href="#">Devices</a>
			<div class="nav-horizontal-submenu sub-devices">
				<div class="nav-horizontal-submenu-inner">
					<div>
						<h4 class="menu-title">Smartphones</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Tablets</h4>
						<ul>
						</ul>
					</div>

					<div>
						<h4 class="menu-title">Screen</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
</nav>
